.navBar {
  nav {
    position: absolute;
    top: 16px;
    left: 30px;
  }
  ul {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 1.3rem;

    a {
      list-style-type: none;
      text-decoration: none;
      padding: 4px 8px;
      &:hover {
        background: $color5;
        border-radius: 15px;
      }
    }
  }
  h1 {
    font-size: 70px;
    font-family: "Dongle-regular", serif;
    text-shadow: 4px 1px 11px blue;
    text-align: center;
  }
  .nav-active {
    padding: 4px 8px;
    border-radius: 15px;
    background: $color1;
  }
}
