.like-page {
  h2 {
    display: flex;
    justify-content: center;
    span {
      color: red;
      margin-left: 20px;
    }
  }
  .result {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    gap: 10px;
  }
}
