$color1: #5670e6;
$color2: rgb(33, 27, 59);
$color3: grey;
$color4: rgb(248, 227, 227);

@font-face {
  font-family: "Dongle-Light";
  src: url(../fonts/Dongle-Light.ttf);
}
@font-face {
  font-family: "Dongle-Regular";
  src: url(../fonts/Dongle-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color4;
  font-family: "Dongle-Light", serif;
  font-size: 30px;
}
body {
  background: $color2;
}
